<p>products works!</p>

<div>
  <form [formGroup]="searchForm">
    <input type="text" formControlName="searchQuery" placeholder="Search...">

    <select formControlName="editor">
      <option value="">-Editors-</option>
      @for (editor of editors | async; track editor) {
        <option>{{ editor }}</option>
      }
    </select>
  </form>
</div>

@for (product of products | async; track product) {
  <li>
    {{ product.title }} -
    {{ product.artist }} -
    {{ product.editor }} -
    {{ product.price }}
  </li>
}
